body {
    font-family: Verdana, Geneva, sans-serif;
}

.disable-content {
    pointer-events: none;
}

.disable-content-opacity {
    opacity: 0.5;
}

.no-display {
    display: none !important;
}

.no-visibility {
    visibility: hidden !important;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}