.game-field-panel {
    display: flex;
    width: 100%;
}

.game-field {
    display: flex;
    flex-direction: column;
    width: 80%;

    padding: 2%;
}

.game-field-row {
    display: flex;
    flex-grow: 100;
}

.game-field-cell {
    flex-grow: 100;
    border: thin solid black;
    border-radius: 20px;
}

.game-field-controls {

    display: flex;
    flex-direction: column;

    width: 20%;

    padding: 2%;

    font-size: 70%;

    border-left: thin solid black;
}