.game-field-panel {
    display: -ms-flex;
    display: flex;
    width: 100%;
    height: 100%;
}

.game-field {
    display: -ms-flex;
    -ms-flex-direction: column;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 8px;
}

.game-field-row {
    display: -ms-flex;
    display: flex;
    -ms-flex: 100 1 auto;
    flex: 100 1 auto;
    width: 100%;
}

.game-field-cell {
    -ms-flex: 100 1 auto;
    flex: 100 1 auto;
    border: thin solid black;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px grey;
}

.game-field-cell img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.game-field-controls {
    display: -ms-flex;
    -ms-flex-direction: column;
    display: flex;
    flex-direction: column;

    width: 20%;
    padding: 10px;
    font-size: 70%;
    border-left: thin solid black;
}

.game-field-controls button {
    box-shadow: 2px 2px 10px grey;
}

.game-save-result {
    display: -ms-flex;
    -ms-flex-direction: column;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.game-save-result button {
    width: 30%;
    box-shadow: 2px 2px 10px grey;
}