.game-field-panel {
    display: flex;
    width: 100%;
}

.game-field {
    position: relative;
    width: 80%;

    margin: 2%;
}

.game-field-cell {
    position: absolute;
    border: thin solid black;
    border-radius: 20px;
}

.game-field-cell img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.game-field-controls {

    display: flex;
    flex-direction: column;

    width: 20%;

    padding: 2%;

    font-size: 70%;

    border-left: thin solid black;
}