.tabbed-window {
    display: -ms-flex;
    -ms-flex-direction: column;

    display: flex;
    flex-direction: column;

    border: thin solid black;
    border-radius: 20px;

    box-shadow: 10px 10px 10px grey;
}

.tab-list {
    display: -ms-flex;
    display: flex;
}

.tab-list a {
    box-shadow: 0 0 10px grey;
}

.tab-list > a:first-child {
    border-top-left-radius: 20px
}

.tab-list > a:last-child {
    border-top-right-radius: 20px
}

.tab {
    -ms-flex-grow: 2;
    flex-grow: 2;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    padding: 2%;
    border: thin solid black;
    text-align: center;
    text-decoration: none;
    color: black;

}

.tab-active {
    background-color: lightgray;
}

.tab-content {
    display: -ms-flex;
    display: flex;
    width: 100%;
    height: 100%;
}